<%- include("partials/header.ejs") -%>

<section class="about_section">
  <div class="about_title">
    <h1>About</h1>
    <p>
      Write your thoughts down as they came to you. Notes is a simple to use
      free note taking app made with node js ,Ejs & MongoDB
    </p>
  </div>
  <div class="about_links">
    <ul class="about_links--1">
      <h1>Features</h1>
      <li>Attractive front page</li>
      <li>Passport Authentication</li>
      <li>Search</li>
      <li>Pagination</li>
      <li>Create notes</li>
      <li>Update Nodes</li>
      <li>Delete Nodes</li>
      <li>View Nodes</li>
    </ul>
    <ul class="about_links--2">
      <h1>Tech stack</h1>
      <li>HTML5</li>
      <li>Nodejs</li>
      <li>Express</li>
      <li>Ejs</li>
      <li>MongoDB</li>
    </ul>
    <ul class="about_links--3">
      <h1>Dependencies Used</h1>
      <li>Mongoose</li>
      <li>Express</li>
      <li>Passport</li>
      <li>Passport-local</li>
      <li>Passport-local-mongoose</li>
      <li>Ejs</li>
      <li>Nodemon</li>
      <li>Nodemailer</li>
      <li>Express session</li>
      <li>Method overide</li>
    </ul>
  </div>
</section>

<%- include("partials/footer") -%>
