<%- include("partials/header.ejs") -%>

<section class="forgot_section">
  <div class="forgot_form_container">
    <h1>Forgot Password</h1>
    <form action="/forgotpassword" method="POST">
      <div class="form_div">
        <label for="forgotpassword" class="forgot_label">Email address</label>
        <br />
        <input type="email" name="email" id="forgotpassword" />
      </div>
      <div class="add_note">
        <button class="add_btn btn_submit">
          Send mail
          <div class="overlay"></div>
        </button>
      </div>
    </form>
  </div>
</section>

<%- include("partials/footer") -%>
