<%- include("partials/dashboard_header.ejs") -%>

<section class="mail_section">
  <div class="mail_container">
    <h2>Reset Password</h2>
    <p>
      Check your inbox for the next steps. If you don't receive an email, and
      it's not in your spam folder this could mean you signed up with a
      different address.
    </p>
    <div class="follow_btns">
      <a class="btn_follow btn_follow--login" href="/login">Log In</a>
      <span> Or </span>
      <a class="btn_follow btn_follow--signin" href="/signin">Sign in</a>
    </div>
  </div>
</section>

<%- include("partials/footer")-%>
